.reviews{
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;

  &__background{
    position: relative;
    right: 12px;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 72px;
    background: #F8F8F8;
  }

  &__container{
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 8px;
  }

  &__title{
    padding: 31px 0 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: #171616;
  }

  &__card{
    filter: drop-shadow(0px 0px 10px rgba(171, 171, 171, 0.25));
  }

  &__card-top-left{
      margin-right: 12px;
      margin-bottom: 29px;
  }

  &__card-top-right{
    padding-left: 12px;
  }

  &__card-down-left{
    margin-right: 12px;
  }

  &__card-down-right{
    padding-left: 12px;
  }

  &__content{
    height: 298px;
  }

  &__content-video{
    width: 100%;
    height: 298px;
  }

  &__text-box{
    display: flex;
    flex-wrap: wrap;
    padding: 14px 25px 9px 25px;
    background-color: #ffffff;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  }

  &__card-title{
    margin-right: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #6CAC3D;
  }

  &__card-text, &__adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #171616;
  }

  &__adress{
    position: relative;
    padding-bottom: 5px;
  }

  &__adress::before{
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23a)' stroke='%236CAC3D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M14.875 7.083c0 4.958-6.375 9.208-6.375 9.208s-6.375-4.25-6.375-9.208a6.375 6.375 0 0 1 12.75 0Z'/%3e%3cpath d='M8.5 9.208a2.125 2.125 0 1 0 0-4.25 2.125 2.125 0 0 0 0 4.25Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='%23fff' d='M0 0h17v17H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    position: relative;
    left: -1px;
    top: 2px;
  }
}



